#toast {
    background-color: #eeeeee;
    text-align:center;
    padding:10px;
    border-radius:10px; 
    display: none;  
}

.task-content {
    padding: 1.5rem;
}

.status-image {
    width: 100px;
}

.status-date {
}

.task-item-name {
}

.task-item-notes {
}

.task-header {
    background-color: #00bfff !important;
}

.task-header-title1 {
    color: #000000;
}

/*
    <color name="status_new">#d3d3d3</color>
    <color name="status_due">#ff0000</color>
    <color name="status_due_closing">#ffa500</color>
    <color name="status_completed">#008000</color>
    <color name="status_needs_action">#00bfff</color>
*/
