#toast {
    background-color: #eeeeee;
    text-align:center;
    padding:10px;
    border-radius:10px; 
    display: none;  
}

.task-content {
    padding: 1.5rem;
}

.status-image {
    width: 5em;
    height: 5em;
}

.status-date {
    width: 5em;
    margin-top: -3.3em;
    text-align: center;
}

.task-name {
    margin-left: 6em;
    margin-top: -4em
}

.task-notes {
    margin-left: 6em;
    min-height: 2em;
}

