#toast {
    background-color: #eeeeee;
    text-align:center;
    padding:10px;
    border-radius:10px; 
    display: none;  
}

.task-content {
    padding: 1.5rem;
}

.status-image {
    width: 100px;
}

.status-rectangle {
    width: 5rem;
    height: 5rem;
}

.status-date {
}

.task-name {

}

.task-notes {

}

